---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: APP_NAME
  namespace: APP_NAME-system
  labels:
    app: APP_NAME
spec:
  replicas: 3
  selector:
    matchLabels:
      app: APP_NAME
  template:
    metadata:
      labels:
        app: APP_NAME
    spec:
      containers:
        - name: APP_NAME
          image: linuxserver/unifi-controller:latest
          env:
          - name: PUID
            value: "1000"
          - name: PGID
            value: "1000"
          ports:
            - name: APP_NAME-svc
              containerPort: 8443
